<div class="row">
  <div class="col-12 p-0">
    <img class="wide-img members"/>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <h2>Участники проекта</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <img class="member-avatar" src="/assets/images/logo.png">
        <p class="mb-0">Бакаров Амир</p>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link pl-0">{{fa-icon "github"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "skype"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "twitter"}}</button>
        </div>
      </li>
      <li class="list-group-item">
        <img class="member-avatar" src="/assets/images/logo.png">
        <p class="mb-0">Бакаров Амир</p>
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-link pl-0">{{fa-icon "github"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "skype"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "twitter"}}</button>
        </div>
      </li>
      <li class="list-group-item">
        <img class="member-avatar" src="/assets/images/logo.png">
        <p class="mb-0">Бакаров Амир</p>
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-link pl-0">{{fa-icon "github"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "skype"}}</button>
          <button type="button" class="btn btn-link">{{fa-icon "twitter"}}</button>
        </div>
      </li>
    </ul>
  </div>
</div>
